KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:26.6.1
KEYCLOAK_HOST_BIND=127.0.0.1
KEYCLOAK_PORT=8080
KEYCLOAK_BASE_URL=http://localhost:8080

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=change-me-for-local-poc

KEYCLOAK_REALM=edrlab-backoffice-poc
KEYCLOAK_CLIENT_ID=backoffice-bff-poc
KEYCLOAK_CLIENT_SECRET=change-me-for-local-client
KEYCLOAK_EVENTS_EXPIRATION_SECONDS=3600

BACKOFFICE_BASE_URL=http://localhost:3000
BACKOFFICE_REDIRECT_URI=http://localhost:3000/auth/callback
BACKOFFICE_LOGOUT_REDIRECT_URI=http://localhost:3000/logout/callback

POC_USER_PASSWORD=change-me-for-local-users
POC_MEMBER_USERNAME=kc-member-poc
POC_MEMBER_EMAIL=kc-member-poc@example.invalid
POC_ADMIN_USERNAME=kc-admin-poc
POC_ADMIN_EMAIL=kc-admin-poc@example.invalid
POC_SUPER_ADMIN_USERNAME=kc-super-admin-poc
POC_SUPER_ADMIN_EMAIL=kc-super-admin-poc@example.invalid
POC_UNSAFE_USERNAME=kc-unsafe-poc
POC_UNSAFE_EMAIL=kc-unsafe-poc@example.invalid
