[defaults]
inventory = inventories/production/hosts.yml
roles_path = roles
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True

[privilege_escalation]
become_method = sudo
